<div class="form-field__content">
    <span class="form-field__label">{{label}}</span>
    <input class="form-field__input" name="{{name}}" type="{{type}}">
    <div class="form-field__error">
        {{#if error}}
            <span>{{errorText}}</span>
        {{/if}}
    </div>
</div>
