.settings-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--mainGreenColor);
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
}