.chat {
    display: flex;
    height: 100vh;

    &__sidebar {
        width: 300px;
        height: 100%;
        border-right: 1px solid black;
        padding: 20px 10px 10px;
        background-color: aliceblue;
    }

    &__messages {
        height: 100%;
    }
}